@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
	list-style: none;
}

#homeCarousel {
	height: 100vh;
	max-height: 100vh;
	margin-top: -6rem;
}

#familiesCarousel .swiper-scrollbar {
	display: none;
}
